@model LeagueMVCProject.ViewModels.FixtureViewModels
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Kaydet", "Fixture", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class=" form-group">

        @Html.LabelFor(m => m.Fixtures.HomeTeamId)
        @Html.DropDownListFor(m => m.Fixtures.HomeTeamId, new SelectList(Model.Teams, "Id", "TeamName"))
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Fixtures.GuestTeamId)
        @Html.DropDownListFor(m => m.Fixtures.GuestTeamId, new SelectList(Model.Teams, "Id", "TeamName"))
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Fixtures.MatchDate)
        @Html.TextBoxFor(m => m.Fixtures.MatchDate, new { type = "date", onchange = "CheckDateTypeIsValid(this)" })
    </div>
    @Html.HiddenFor(m => m.Fixtures.Id)

    <button type="submit" class="btn btn-success">Add</button>

}



@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}