@model List<LeagueMVCProject.Models.EntityFramework.Teams>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Team/Yeni">NewTeam</a>
<table class="table table-bordered" style="background-color:darkgray" id="tblTeam">
    <thead>
        <tr>
            <th>Id</th>
            <th>TeamName</th>
            <th>Color</th>
            <th>LeagueId</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
        <tr>
            <td>@team.Id</td>
            <td>@team.TeamName</td>
            <td>@team.Color</td>
            <td>@team.Leagues.LeagueName</td>
            <td><a class="btn btn-primary" href="/Team/Update/@team.Id">Update</a></td>
            <td><a class="btn btn-warning btnTeamDelete" data-id="@team.Id" >Delete</a></td>
        </tr>
        }
    </tbody>
</table>
