@model LeagueMVCProject.ViewModels.TeamViewModels
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Kaydet", "Team", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class=" form-group">

        @Html.LabelFor(m => m.Teams.TeamName)
        @Html.TextBoxFor(m => m.Teams.TeamName)
        @Html.ValidationMessageFor(m=>m.Teams.TeamName)
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Teams.Color)
        @Html.TextBoxFor(m => m.Teams.Color)
        @Html.ValidationMessageFor(m => m.Teams.Color)
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Teams.LeagueId)
        @Html.DropDownListFor(m => m.Teams.LeagueId, new SelectList(Model.Leagues, "Id", "LeagueName"))
        @Html.ValidationMessageFor(m => m.Teams.LeagueId)
    </div>
    @Html.HiddenFor(m=>m.Teams.Id)
    <button type="submit" class="btn btn-success">Add</button>


}
